@import '../../../../styles/common';
@import '~@shopify/polaris-tokens/dist/index';

.Container {
  @include tooltip-text;
  display: grid;
  max-width: 160px;
  grid-template-columns: auto auto 1fr;
  grid-gap: $spacing-tight;
  align-items: center;
}

.Value {
  justify-self: end;
  margin-left: $spacing-base;
}
