@import '../../styles/common';

.ChartContainer {
  position: relative;
  user-select: none;
  max-width: 100%;
}

.Svg {
  overflow: visible;
  max-width: 100%;
}

.BarGroup,
.Bar {
  @include no-outline;
}
