$label-color: rgb(99, 115, 129);
$axis-color: rgb(223, 227, 232);

@mixin ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin axis-text {
  color: $label-color;
  line-height: 1;
}

@mixin axis-label {
  fill: $label-color;
}

@mixin axis-line {
  stroke: $axis-color;
}
