.ColorPreview {
  width: 12px;
}

.Name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 4px;
  padding-right: 20px;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}
