.ColorPreview {
  width: 12px;
}

.Name {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  padding-left: 4px;
}

.TableSpacer {
  padding-left: 30px;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}
