@mixin visually-hidden {
  // Importants are required to ensure component is available to screenreaders as expected
  // stylelint-disable declaration-no-important
  position: absolute !important;
  top: 0;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  opacity: 0;
  // stylelint-enable declaration-no-important
}

@mixin no-outline {
  outline: none;

  &:focus,
  &:focus-visible {
    // stylelint-disable-next-line declaration-no-important
    outline: none !important;
  }
}

@mixin focus-outline {
  &:focus,
  &:focus-visible {
    outline: 2px solid $color-blue-70;
    outline-offset: 2px;
  }
}

@mixin hidden-button {
  border: 0;
  background: transparent;
  height: 100%;
  width: 100%;
  font-size: 0;
  display: block;
}
