.Container {
  position: relative;
  width: 100%;
  height: 100%;
}
.Shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: shimmer;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: var(--shimmerSize) 100%;
}

@keyframes shimmer {
  0% {
    background-position-x: calc(var(--shimmerSize) - var(--shimmerSize) / 2);
  }
  100% {
    background-position-x: calc(var(--shimmerSize) + var(--shimmerSize) / 2);
  }
}
