@import 'node_modules/@shopify/polaris-tokens/dist/index';

.Container {
  position: absolute;
  background: $color-white;
  border: 1px solid $color-sky-dark;
  border-radius: 4px;
  padding: $spacing-tight;
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  column-gap: $spacing-tight;
  row-gap: $spacing-tight;
}

.SeriesName {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.Value {
  font-feature-settings: 'tnum';
  font-size: 13px;
  margin: 0;
  padding-left: $spacing-extra-tight;
  text-align: right;
}
