.SeriesName {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.Value {
  font-feature-settings: 'tnum';
  font-size: 13px;
  margin: 0;
  padding-left: $spacing-extra-tight;
  text-align: right;
}

.Container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  column-gap: $spacing-tight;
  row-gap: $spacing-tight;
}
