@import '../../../../styles/common';

.Segment {
  @include no-outline;
  margin: 1px 2px 2px 1px;
  &:last-of-type {
    margin: 1px;
  }
}

.horizontal-RoundedCorners {
  &:first-of-type {
    border-radius: 2px 0 0 2px;
  }
  &:last-of-type {
    border-radius: 0 2px 2px 0;
  }
}

.vertical-RoundedCorners {
  &:first-of-type {
    border-radius: 0 0 2px 2px;
  }
  &:last-of-type {
    border-radius: 2px 2px 0 0;
  }
}

.RoundedCorners {
  border-radius: 2px;
}

.horizontal-small {
  height: 16px;
}

.horizontal-medium {
  height: 36px;
}

.horizontal-large {
  height: 56px;
}

.vertical-small {
  width: 16px;
}

.vertical-medium {
  width: 36px;
}

.vertical-large {
  width: 56px;
}
