.ChartContainer {
  position: relative;
  user-select: none;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.SVG {
  overflow: visible;
  max-width: 100%;
}
