@import 'node_modules/@shopify/polaris-tokens/dist/index';

.Container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: $spacing-base-tight $spacing-tight $spacing-base-tight
    $spacing-base-tight;
}

.InnerContainer {
  align-items: center;
  column-gap: $spacing-extra-tight;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  padding: $spacing-extra-tight $spacing-base-tight;
}

.Label {
  color: $color-ink-light;
  font-size: 13px;
  font-weight: 500;
}
