.Legend {
  height: 50px;
  display: flex;
  gap: 5%;
  max-width: 60%;
  margin: 14px 0;
}

.LegendItem {
  width: 100%;
  display: block;
  display: grid;
  grid-template-columns: 16px 1fr;
  grid-template-rows: 16px;
  grid-gap: 10px;

  > *:first-child {
    width: 16px;
    height: 16px;
  }
  > *:nth-child(2) {
    height: 16px;
  }
  > *:nth-child(3) {
    grid-column: 2;
    height: 16px;
    width: 80%;
  }
}

.LegendItemComponent {
  border-radius: 2px;
  height: 16px;
  width: 100%;
}
