@import 'node_modules/@shopify/polaris-tokens/dist/index';

.Container {
  position: absolute;
  background: $color-white;
  border-radius: 8px;
  padding: 12px 16px;
  pointer-events: none;
  max-width: 70%;
  min-width: 40px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
}
