@import 'node_modules/@shopify/polaris-tokens/dist/index';

.Container {
  position: absolute;
  background: $color-white;
  border: 1px solid $color-sky-dark;
  border-radius: 4px;
  padding: $spacing-tight;
  pointer-events: none;
  max-width: 70%;
}
