@import '../../../../styles/common';

.Row {
  line-height: 16px;
  font-size: 11px;
  gap: 8px;
  display: flex;
  align-items: center;
}

.Value {
  margin-left: auto;
  text-align: right;
  white-space: nowrap;
}

.Truncate {
  @include ellipsis-overflow;
}
