.chart-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  user-select: none;
}

.chart {
  position: relative;
  user-select: none;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.visually-hidden {
  // Importants are required to ensure component is
  // available to screenreaders as expected

  // stylelint-disable declaration-no-important
  position: absolute !important;
  top: 0;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  opacity: 0;
  // stylelint-enable declaration-no-important
}
