.Card {
  background: #1f1f25;
  color: #fff;
  position: absolute;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: #1f1f25;
}

.Button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 8px;
}

.TextContainer {
  margin: 20px;

  p {
    margin: 0;
    font-weight: 300;
  }

  .Number {
    font-size: 28px;
    margin-top: 3px;
    font-weight: 500;
  }
}

.TextArea {
  border: none;
  background: #1f1f25;
  border-left: 10px solid #1f1f25;
  color: white;
  resize: none;

  &:focus {
    outline: transparent;
  }
}
