.Card {
  background: #1f1f25;
  color: #fff;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: #1f1f25;
}

.Button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 8px;
}

.TextContainer {
  // margin-left: 20px;
  // margin-top: 20px;

  p {
    margin: 0;
    font-weight: 300;
  }

  .Number {
    font-size: 28px;
    margin: 10px 0;
    font-weight: 500;
  }
}

.TextArea {
  width: 250px;
  height: 180px;
  // padding: 0;
  border: none;
  background: #1f1f25;
  color: white;
  resize: none;

  &:focus {
    outline: transparent;
  }
}
