@import '../../styles/common';

.Text {
  text-align: center;
  @include axis-text;
  word-break: break-word;
}

.DiagonalText {
  text-align: right;
  @include axis-text;
  word-break: normal;
}

.Truncated {
  @include ellipsis-overflow;
}
