.ChartContainer {
  position: relative;
  display: inline-block;
  user-select: none;
  left: 0px;
  top: 0px;
}

.Svg {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  max-width: 100%;
}
