.Label {
  text-align: center;
  padding-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  > span {
    padding: 0 4px;
    border-radius: '4px';
    border-radius: 4px;
  }

  > span:empty {
    display: none;
  }
}
.YAxis {
  overflow: visible;
}
