.Container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
}

.IconContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 12px;
  width: 20px;
}
