.SkipLink {
  position: absolute;
  top: 1px; // so the focus outline is visible
  left: 1px; // so the focus outline is visible
  background: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.4rem;
  color: rgb(33, 43, 54);
  border: 1px solid rgba(186, 191, 195, 1);
  padding: 8px 16px;
  opacity: 0;
  pointer-events: none;
  text-decoration: none;

  &:focus {
    pointer-events: all;
    opacity: 1;
  }
}
