@import '../../styles/common';

.SkipLink {
  position: absolute;
  top: 1px; // so the focus outline is visible
  left: 1px; // so the focus outline is visible
  background: $color-white;
  box-shadow: $button-drop-shadow;
  border-radius: $border-radius-base;
  color: $color-ink;
  border: 1px solid $border-subdued;
  padding: $spacing-tight $spacing-base;
  opacity: 0;
  pointer-events: none;
  text-decoration: none;

  &:focus {
    pointer-events: all;
    opacity: 1;
  }
}
