@import '../../styles/common';

.Wrapper {
  position: relative;
  overflow: visible;
  @include chart-container;
}

.VisuallyHidden {
  @include visually-hidden;
}

.ComparisonLine {
  fill: none;
  stroke-dasharray: 3 2;
}
