@import '../../styles/common';

.Wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.Svg {
  position: absolute;
}

.VisuallyHidden {
  @include visually-hidden;
}

.ComparisonLine {
  fill: none;
  stroke-dasharray: 3 2;
}
