.Segment {
  border: 1px solid transparent;
  margin: 0 1px 1px 0;

  &:last-of-type {
    margin: 0;
  }
}

.horizontal-small {
  height: 16px;
}

.horizontal-medium {
  height: 36px;
}

.horizontal-large {
  height: 56px;
}

.vertical-small {
  width: 16px;
}

.vertical-medium {
  width: 36px;
}

.vertical-large {
  width: 56px;
}
