@import '../../../../styles/common';

.Text {
  text-align: center;
  color: #637381;
  word-break: break-all;
}

.DiagonalText {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #637381;
}
