@import '../../../../styles/common';

.Text {
  text-align: center;
  color: rgb(99, 115, 129);
  word-break: break-all;
}

.DiagonalText {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(99, 115, 129);
}
