@import '../../../../styles/common';

.Text {
  text-align: center;
}

.DiagonalText {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
}
