@import 'node_modules/@shopify/polaris-tokens/dist/index';
@import '../../styles/common';

.Container {
  @include tooltip-text;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  column-gap: $spacing-tight;
  row-gap: $spacing-tight;
  background: $color-white;
  border: 1px solid $color-sky-dark;
  border-radius: 4px;
  padding: $spacing-tight;
}

.Title {
  @include tooltip-emphasis;
  text-align: center;
  grid-column: 1 / span 3;
  margin-bottom: $spacing-extra-tight;
}

.Label {
  margin: 0;
  @include tooltip-emphasis;
}

.Value {
  font-feature-settings: 'tnum';
  margin: 0;
  padding-left: $spacing-extra-tight;
  text-align: right;
}
