.Container {
  pointer-events: auto;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.Title {
  font-weight: 500;
  line-height: 20px;
  font-size: 12px;
  margin: 0 0 4px;
}

.Content,
.Content p {
  font-size: 11px;
  line-height: 16px;
  margin: 0;
  color: inherit;
}

.Link {
  margin-left: 4px;
}
