@import '../../../../styles/shared/variables';

.Container {
  pointer-events: auto;
  backdrop-filter: blur(5px);
  padding: 8px 12px;
  border-radius: 5px;
}

.Title {
  font-weight: 500;
  line-height: 20px;
  font-size: 13px;
  margin: 0 0 4px;
}

.Content {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.Link {
  color: $color-blue-80;
  margin-left: 4px;
}
