@mixin legend-label {
  color: $color-ink-light;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

@mixin legend-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@mixin legend-series {
  align-items: center;
  column-gap: $spacing-extra-tight;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  padding-left: $spacing-base-tight;
}
