@import '../../../../../styles/common';

.Banner {
  padding: 8px 15px;
  border-radius: 5px;
  box-shadow: -2px 2px 9px 0 rgba(0, 0, 0, 0.3);
  line-height: 1.5;
  font-family: $font-stack-base;

  &::before {
    content: '⚠️';
    margin-right: 5px;
  }

  code {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    border: 1px solid rgb(68, 68, 68);
    padding: 2px 5px;
    border-radius: 3px;
  }
}

.Alert {
  background: linear-gradient(
    157deg,
    rgba(62, 36, 28, 5) 0%,
    rgb(46, 46, 46) 40%
  );
  border: 1px solid rgb(72, 72, 72);
  color: white;

  &::before {
    margin-right: 5px;
    color: rgb(251, 83, 0);
  }
}

.Info {
  background: linear-gradient(157deg, rgb(62, 58, 28) 0%, rgb(46, 46, 46) 40%);
  border: 1px solid rgb(72, 72, 72);
  color: white;

  &::before {
    color: rgb(251, 210, 0);
  }
}
