@import '../../styles/common';

.PositiveIcon,
.NegativeIcon,
.NeutralIcon {
  display: flex;
  align-items: center;
}

.PositiveIcon svg {
  margin-right: 4px;
}

.NegativeIcon svg {
  margin-right: 4px;
}

.VisuallyHidden {
  @include visually-hidden;
}
