.MoreText {
  display: flex;
  white-space: nowrap;
  align-items: center;
  background: none;
  border: none;
  border-radius: 2px;
  font-size: 11px;
}

.Tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 4px;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1);
}
