$animation-duration: 500ms;

.Path {
  animation: reveal $animation-duration ease-in-out 1;
}

.Area {
  opacity: 0;
  animation: fadeIn $animation-duration ease-in-out 1 forwards;
}

.Point {
  opacity: 0;
  animation: fadeIn 250ms ease-out 400ms 1 forwards;
}

@keyframes reveal {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  99% {
    clip-path: inset(0);
  }
  100% {
    clip-path: unset;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
