.Container {
  background: rgb(31, 31, 37);
  border-radius: 8px;
  padding-bottom: 10px;
}

.CardTop {
  background: rgb(68, 68, 68);
  border-radius: 8px 8px 0 0;
  padding: 20px;
}

.Heading {
  margin-top: 0;
}

.Paragraph {
  margin: 0;
}

.Link {
  color: white;
  text-decoration: none;
}

.CenterChartContainer {
  width: 100%;
  height: 250px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.ChartContainer {
  width: 100%;
  height: 250px;
}
