@import '../../../../styles/common';

.Legend {
  padding: 6px 0;
  outline: none;
  border: none;
  border-radius: 2px;
  display: flex;
  @include focus-outline;
}

.TextContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 3px;
  line-height: 16px;
  margin: -2px 0;
  font-size: 12px;
  font-family: $font-stack-base;
}

.IconContainer {
  display: flex;
  align-items: center;
  justify-items: center;
}
