@import '../../../../styles/common';

.Legend {
  padding: 6px 0;
  outline: none;
  border: none;
  border-radius: 2px;
  display: flex;
  @include focus-outline;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $color-blue-70;
    outline-offset: 2px;
  }
}

.TextContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 3px;
  line-height: 16px;
  margin: -2px 0;
  font-size: 11px;
  font-family: $font-stack-base;
  white-space: nowrap;
  min-width: 0;
}

.Text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.IconContainer {
  display: flex;
  align-items: center;
  justify-items: center;
}
