@import 'node_modules/@shopify/polaris-tokens/dist/index';
@import '../../../../styles/common';

.Name {
  // @include tooltip-emphasis;
  margin: 0;
}

.Value {
  font-feature-settings: 'tnum';
  margin: 0;
  // padding-left: $spacing-extra-tight;
  text-align: right;
}

.Container {
  @include tooltip-text;
  display: grid;
  grid-template-columns: 1fr;
  align-items: left;
  // column-gap: $spacing-tight;
  row-gap: $spacing-tight;
}
