@import '../../../../styles/common';

.Name {
  margin: 0;
}

.Value {
  @include tooltip-emphasis;
  font-feature-settings: 'tnum';
  margin: 0;
  padding-left: $spacing-extra-tight;
  text-align: right;
}

.Container {
  @include tooltip-text;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  column-gap: $spacing-tight;
  row-gap: $spacing-tight;
  background: $color-white;
  border-radius: 4px;
  padding: $spacing-loose;
}
