@import '../../styles/common';

.Container {
  font-family: $font-stack-base;
  font-size: 14px;
  display: flex;
  box-sizing: border-box;
  color-adjust: exact;
}

.VerticalContainer {
  height: 100%;
}

.VerticalContainerRightLabel {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.HorizontalContainer {
  flex-direction: column;
  justify-content: normal;
}

.HorizontalContainerBottomLabel {
  flex-direction: column-reverse;
}

.BarContainer {
  display: flex;
}

.VerticalBarContainer {
  flex-direction: column-reverse;
}

.HorizontalBarContainer {
  flex-direction: row;
}

.VerticalLabelContainer {
  display: flex;
  flex-flow: column wrap;
  margin: $spacing-loose;
  padding: 0;
}

.HorizontailLabelContainer {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
}

.LabelContainerEndJustify {
  justify-content: end;
  justify-items: end;
}
