@import '../../styles/common';

.Container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  user-select: none;
}

.Series {
  align-items: center;
  column-gap: $spacing-extra-tight;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  padding-left: $spacing-base-tight;
}

.SeriesName {
  color: $color-ink-light;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}
