@import '../../../../styles/common';

.Container {
  @include tooltip-text;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: $spacing-tight;
  background: $color-white;
  padding: $spacing-loose;
}
