@import '../../styles/common';

.Container {
  padding: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  min-width: 180px;
}

.Title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 10px;
}

.AxisTitle {
  line-height: 16px;
  margin: 0 0 8px;
}

.Series:not(:last-child) {
  margin: 0 0 13px;
}

.Row {
  display: flex;
  align-items: center;
  height: 12px;
}

.Value {
  margin-left: auto;
  text-align: right;
  white-space: nowrap;
}

.Truncate {
  @include ellipsis-overflow;
}
