@import '../../styles/common';

.Series:not(:last-child) {
  margin: 0 0 13px;
}

.Row {
  display: flex;
  align-items: center;
  height: 12px;
}

.Value {
  margin-left: auto;
  text-align: right;
  white-space: nowrap;
}

.Truncate {
  @include ellipsis-overflow;
}
