$duration-slow: 300;

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-purple-dark: rgb(80, 36, 143);

// Colors are named non-sequencial numbers
// so it matches the UX Color Matrix
// stylelint-disable color-no-hex
$color-dark-comparison: rgba(144, 176, 223, 0.6);
$color-light-comparison: rgba(103, 147, 204, 0.6);

$color-gray-00: #ffffff;
$color-gray-10: #f6f6f7;
$color-gray-20: #eeeeef;
$color-gray-30: #dadadd;
$color-gray-40: #cbcbcf;
$color-gray-50: #bdbdc2;
$color-gray-60: #b0b0b6;
$color-gray-70: #9d9da5;
$color-gray-80: #909099;
$color-gray-90: #82828c;
$color-gray-100: #70707b;
$color-gray-110: #5e5e69;
$color-gray-120: #545460;
$color-gray-130: #4b4b57;
$color-gray-140: #43434e;
$color-gray-150: #2e2e36;
$color-gray-160: #1f1f25;

$color-indigo-40: #c5b7fe;
$color-indigo-70: #997afc;
$color-indigo-90: #7f4afa;

$color-blue-40: #a3c2f7;
$color-blue-50: #88b1f2;
$color-blue-70: #4b92e5;
$color-blue-80: #4282cd;
$color-blue-90: #3672bb;
$color-blue-110: #215297;

$color-teal-40: #79cce5;
$color-teal-70: #4c9aaf;
$color-teal-90: #33798c;

$color-magenta-70: #da62c4;
$color-magenta-90: #b1489e;

$color-purple-50: #c89ef1;
$color-purple-70: #b176e2;
$color-purple-90: #9f41dc;

$color-orange-50: #ec9d71;
$color-orange-60: #df8b55;
$color-orange-70: #ca7d4a;
$color-orange-80: #b66e3f;
$color-orange-90: #a26134;
$color-orange-110: #7a4621;

$color-yellow-20: #fae275;
$color-yellow-40: #d1c256;
$color-yellow-50: #bdb24e;
$color-yellow-70: #97933e;
$color-yellow-90: #74742c;

// -----

$spacing-extra-tight: 4px;
$spacing-tight: 8px;
$spacing-base-tight: 12px;
$spacing-base: 16px;
$spacing: 16px;
$spacing-loose: 20px;
$spacing-extra-loose: 32px;

// stylelint-disable value-keyword-case
$font-stack-base: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI',
  Roboto, 'Helvetica Neue', sans-serif;
// stylelint-enable value-keyword-case

@use 'sass:math';

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}

// stylelint-disable selector-pseudo-class-no-unknown
// stylelint-disable property-no-unknown

:export {
  spacingExtraTight: strip-unit($spacing-extra-tight);
  spacingTight: strip-unit($spacing-tight);
  spacingBaseTight: strip-unit($spacing-base-tight);
  spacing: strip-unit($spacing);
  spacingBase: strip-unit($spacing-base);
  spacingLoose: strip-unit($spacing-loose);
  spacingExtraLoose: strip-unit($spacing-extra-loose);
  colorWhite: $color-white;
  colorBlack: $color-black;
  colorPurpleDark: $color-purple-dark;

  // NEW COLORS
  colorDarkComparison: $color-dark-comparison;
  colorLightComparison: $color-light-comparison;

  colorGray00: $color-gray-00;
  colorGray10: $color-gray-10;
  colorGray20: $color-gray-20;
  colorGray30: $color-gray-30;
  colorGray40: $color-gray-40;
  colorGray50: $color-gray-50;
  colorGray60: $color-gray-60;
  colorGray70: $color-gray-70;
  colorGray80: $color-gray-80;
  colorGray90: $color-gray-90;
  colorGray100: $color-gray-100;
  colorGray110: $color-gray-110;
  colorGray120: $color-gray-120;
  colorGray130: $color-gray-130;
  colorGray140: $color-gray-140;
  colorGray150: $color-gray-150;
  colorGray160: $color-gray-160;

  colorIndigo40: $color-indigo-40;
  colorIndigo70: $color-indigo-70;
  colorIndigo90: $color-indigo-90;

  colorBlue40: $color-blue-40;
  colorBlue50: $color-blue-50;
  colorBlue70: $color-blue-70;
  colorBlue80: $color-blue-80;
  colorBlue90: $color-blue-90;
  colorBlue110: $color-blue-110;

  colorTeal40: $color-teal-40;
  colorTeal70: $color-teal-70;
  colorTeal90: $color-teal-90;

  colorMagenta70: $color-magenta-70;
  colorMagenta90: $color-magenta-90;

  colorPurple50: $color-purple-50;
  colorPurple70: $color-purple-70;
  colorPurple90: $color-purple-90;

  colorOrange50: $color-orange-50;
  colorOrange60: $color-orange-60;
  colorOrange70: $color-orange-70;
  colorOrange80: $color-orange-80;
  colorOrange90: $color-orange-90;
  colorOrange110: $color-orange-110;

  colorYellow20: $color-yellow-20;
  colorYellow40: $color-yellow-40;
  colorYellow70: $color-yellow-70;
  colorYellow90: $color-yellow-90;
}
