$duration-slow: 300;

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-purple-dark: rgb(80, 36, 143);

// Colors are named non-sequencial numbers
// so it matches the UX Color Matrix
// stylelint-disable color-no-hex
$color-dark-comparison: rgba(144, 176, 223, 0.8);
$color-light-comparison: rgba(103, 147, 204, 1);

$color-light-positive: var(--p-icon-success, rgba(0, 127, 95, 1));
$color-light-negative: var(--p-icon-critical, rgba(215, 44, 13, 1));
$color-light-neutral: var(--p-icon-subdued, rgba(140, 145, 150, 1));

$color-dark-positive: var(--p-icon-success, #039c86);
$color-dark-negative: var(--p-icon-critical, #f24f62);
$color-dark-neutral: var(--p-icon-subdued, #8c9196);

$color-gray-00: #ffffff;
$color-gray-10: #f6f6f7;
$color-gray-20: #eeeeef;
$color-gray-30: #dadadd;
$color-gray-40: #cbcbcf;
$color-gray-50: #bdbdc2;
$color-gray-60: #b0b0b6;
$color-gray-70: #9d9da5;
$color-gray-80: #909099;
$color-gray-90: #82828c;
$color-gray-100: #70707b;
$color-gray-110: #5e5e69;
$color-gray-120: #545460;
$color-gray-130: #4b4b57;
$color-gray-140: #43434e;
$color-gray-150: #2e2e36;
$color-gray-160: #1f1f25;

$color-indigo-00: #f7f5ff;
$color-indigo-10: #efecff;
$color-indigo-20: #e4deff;
$color-indigo-30: #d4cbff;
$color-indigo-40: #c5b7fe;
$color-indigo-50: #b6a3fe;
$color-indigo-60: #a78ffd;
$color-indigo-70: #997afc;
$color-indigo-80: #8c63fb;
$color-indigo-90: #7f4afa;
$color-indigo-100: #7329f9;
$color-indigo-110: #6511e2;
$color-indigo-120: #540dbf;
$color-indigo-130: #44089e;
$color-indigo-140: #34057d;
$color-indigo-150: #25035e;
$color-indigo-160: #16013e;

$color-blue-00: #f3f7ff;
$color-blue-10: #e6eefe;
$color-blue-20: #d6e3fd;
$color-blue-30: #bdd2fb;
$color-blue-40: #a3c2f7;
$color-blue-50: #88b1f2;
$color-blue-60: #6ba2ec;
$color-blue-70: #4b92e5;
$color-blue-80: #4282cd;
$color-blue-90: #3672bb;
$color-blue-100: #2b62a9;
$color-blue-110: #215297;
$color-blue-120: #174385;
$color-blue-130: #0e3572;
$color-blue-140: #06275f;
$color-blue-150: #021a4c;
$color-blue-160: #000d36;

$color-teal-00: #f0f8fb;
$color-teal-10: #e0f1f8;
$color-teal-20: #c8e7f4;
$color-teal-30: #9edaef;
$color-teal-40: #79cce5;
$color-teal-50: #69bbd3;
$color-teal-60: #5baac1;
$color-teal-70: #4c9aaf;
$color-teal-80: #3f899e;
$color-teal-90: #33798c;
$color-teal-100: #286a7b;
$color-teal-110: #1d5a69;
$color-teal-120: #144b59;
$color-teal-130: #0b3d48;
$color-teal-140: #042f38;
$color-teal-150: #012129;
$color-teal-160: #001419;

$color-magenta-00: #fcf4fa;
$color-magenta-10: #f9e9f5;
$color-magenta-20: #f5dbef;
$color-magenta-30: #f0c4e6;
$color-magenta-40: #eaaedd;
$color-magenta-50: #e596d4;
$color-magenta-60: #e07dcc;
$color-magenta-70: #da62c4;
$color-magenta-80: #c654b1;
$color-magenta-90: #b1489e;
$color-magenta-100: #9c3c8b;
$color-magenta-110: #873178;
$color-magenta-120: #722665;
$color-magenta-130: #5e1c53;
$color-magenta-140: #4a1341;
$color-magenta-150: #370b30;
$color-magenta-160: #23041e;

$color-purple-00: #f9f5ff;
$color-purple-10: #f3eafe;
$color-purple-20: #ebdcfd;
$color-purple-30: #e0c8fa;
$color-purple-40: #d4b3f6;
$color-purple-50: #c89ef1;
$color-purple-60: #bd8aea;
$color-purple-70: #b176e2;
$color-purple-80: #a85de0;
$color-purple-90: #9f41dc;
$color-purple-100: #8c35c4;
$color-purple-110: #7a29ab;
$color-purple-120: #671e93;
$color-purple-130: #55147a;
$color-purple-140: #430b62;
$color-purple-150: #32054a;
$color-purple-160: #200132;

$color-orange-00: #fcf5f3;
$color-orange-10: #f9ebe6;
$color-orange-20: #f5ddd4;
$color-orange-30: #f1c9b8;
$color-orange-40: #eeb498;
$color-orange-50: #ec9d71;
$color-orange-60: #df8b55;
$color-orange-70: #ca7d4a;
$color-orange-80: #b66e3f;
$color-orange-90: #a26134;
$color-orange-100: #8e532a;
$color-orange-110: #7a4621;
$color-orange-120: #673a17;
$color-orange-130: #552d0d;
$color-orange-140: #432205;
$color-orange-150: #311701;
$color-orange-160: #1f0c00;

$color-yellow-00: #fff6df;
$color-yellow-10: #fcedc2;
$color-yellow-20: #fae275;
$color-yellow-30: #e6d25f;
$color-yellow-40: #d1c256;
$color-yellow-50: #bdb24e;
$color-yellow-60: #aaa246;
$color-yellow-70: #97933e;
$color-yellow-80: #858337;
$color-yellow-90: #74742c;
$color-yellow-100: #636522;
$color-yellow-110: #535718;
$color-yellow-120: #444810;
$color-yellow-130: #363a08;
$color-yellow-140: #2a2d03;
$color-yellow-150: #1d1f01;
$color-yellow-160: #111200;

// stylelint-disable value-keyword-case
$font-stack-base: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI',
  Roboto, 'Helvetica Neue', sans-serif;
// stylelint-enable value-keyword-case

// stylelint-disable selector-pseudo-class-no-unknown
// stylelint-disable property-no-unknown

:export {
  colorWhite: $color-white;
  colorBlack: $color-black;

  colorDarkComparison: $color-dark-comparison;
  colorLightComparison: $color-light-comparison;

  colorLightPositive: $color-light-positive;
  colorLightNegative: $color-light-negative;
  colorLightNeutral: $color-light-neutral;

  colorDarkPositive: $color-dark-positive;
  colorDarkNegative: $color-dark-negative;
  colorDarkNeutral: $color-dark-neutral;

  colorGray00: $color-gray-00;
  colorGray10: $color-gray-10;
  colorGray20: $color-gray-20;
  colorGray30: $color-gray-30;
  colorGray40: $color-gray-40;
  colorGray50: $color-gray-50;
  colorGray60: $color-gray-60;
  colorGray70: $color-gray-70;
  colorGray80: $color-gray-80;
  colorGray90: $color-gray-90;
  colorGray100: $color-gray-100;
  colorGray110: $color-gray-110;
  colorGray120: $color-gray-120;
  colorGray130: $color-gray-130;
  colorGray140: $color-gray-140;
  colorGray150: $color-gray-150;
  colorGray160: $color-gray-160;

  colorIndigo00: $color-indigo-00;
  colorIndigo10: $color-indigo-10;
  colorIndigo20: $color-indigo-20;
  colorIndigo30: $color-indigo-30;
  colorIndigo40: $color-indigo-40;
  colorIndigo50: $color-indigo-50;
  colorIndigo60: $color-indigo-60;
  colorIndigo70: $color-indigo-70;
  colorIndigo80: $color-indigo-80;
  colorIndigo90: $color-indigo-90;
  colorIndigo100: $color-indigo-100;
  colorIndigo110: $color-indigo-110;
  colorIndigo120: $color-indigo-120;
  colorIndigo130: $color-indigo-130;
  colorIndigo140: $color-indigo-140;
  colorIndigo150: $color-indigo-150;
  colorIndigo160: $color-indigo-160;

  colorBlue00: $color-blue-00;
  colorBlue10: $color-blue-10;
  colorBlue20: $color-blue-20;
  colorBlue30: $color-blue-30;
  colorBlue40: $color-blue-40;
  colorBlue50: $color-blue-50;
  colorBlue60: $color-blue-60;
  colorBlue70: $color-blue-70;
  colorBlue80: $color-blue-80;
  colorBlue90: $color-blue-90;
  colorBlue100: $color-blue-100;
  colorBlue110: $color-blue-110;
  colorBlue120: $color-blue-120;
  colorBlue130: $color-blue-130;
  colorBlue140: $color-blue-140;
  colorBlue150: $color-blue-150;
  colorBlue160: $color-blue-160;

  colorTeal00: $color-teal-00;
  colorTeal10: $color-teal-10;
  colorTeal20: $color-teal-20;
  colorTeal30: $color-teal-30;
  colorTeal40: $color-teal-40;
  colorTeal50: $color-teal-50;
  colorTeal60: $color-teal-60;
  colorTeal70: $color-teal-70;
  colorTeal80: $color-teal-80;
  colorTeal90: $color-teal-90;
  colorTeal100: $color-teal-100;
  colorTeal110: $color-teal-110;
  colorTeal120: $color-teal-120;
  colorTeal130: $color-teal-130;
  colorTeal140: $color-teal-140;
  colorTeal150: $color-teal-150;
  colorTeal160: $color-teal-160;

  colorMagenta00: $color-magenta-00;
  colorMagenta10: $color-magenta-10;
  colorMagenta20: $color-magenta-20;
  colorMagenta30: $color-magenta-30;
  colorMagenta40: $color-magenta-40;
  colorMagenta50: $color-magenta-50;
  colorMagenta60: $color-magenta-60;
  colorMagenta70: $color-magenta-70;
  colorMagenta80: $color-magenta-80;
  colorMagenta90: $color-magenta-90;
  colorMagenta100: $color-magenta-100;
  colorMagenta110: $color-magenta-110;
  colorMagenta120: $color-magenta-120;
  colorMagenta130: $color-magenta-130;
  colorMagenta140: $color-magenta-140;
  colorMagenta150: $color-magenta-150;
  colorMagenta160: $color-magenta-160;

  colorPurple00: $color-purple-00;
  colorPurple10: $color-purple-10;
  colorPurple20: $color-purple-20;
  colorPurple30: $color-purple-30;
  colorPurple40: $color-purple-40;
  colorPurple50: $color-purple-50;
  colorPurple60: $color-purple-60;
  colorPurple70: $color-purple-70;
  colorPurple80: $color-purple-80;
  colorPurple90: $color-purple-90;
  colorPurple100: $color-purple-100;
  colorPurple110: $color-purple-110;
  colorPurple120: $color-purple-120;
  colorPurple130: $color-purple-130;
  colorPurple140: $color-purple-140;
  colorPurple150: $color-purple-150;
  colorPurple160: $color-purple-160;

  colorOrange00: $color-orange-00;
  colorOrange10: $color-orange-10;
  colorOrange20: $color-orange-20;
  colorOrange30: $color-orange-30;
  colorOrange40: $color-orange-40;
  colorOrange50: $color-orange-50;
  colorOrange60: $color-orange-60;
  colorOrange70: $color-orange-70;
  colorOrange80: $color-orange-80;
  colorOrange90: $color-orange-90;
  colorOrange100: $color-orange-100;
  colorOrange110: $color-orange-110;
  colorOrange120: $color-orange-120;
  colorOrange130: $color-orange-130;
  colorOrange140: $color-orange-140;
  colorOrange150: $color-orange-150;
  colorOrange160: $color-orange-160;

  colorYellow00: $color-yellow-00;
  colorYellow10: $color-yellow-10;
  colorYellow20: $color-yellow-20;
  colorYellow30: $color-yellow-30;
  colorYellow40: $color-yellow-40;
  colorYellow50: $color-yellow-50;
  colorYellow60: $color-yellow-60;
  colorYellow70: $color-yellow-70;
  colorYellow80: $color-yellow-80;
  colorYellow90: $color-yellow-90;
  colorYellow100: $color-yellow-100;
  colorYellow110: $color-yellow-110;
  colorYellow120: $color-yellow-120;
  colorYellow130: $color-yellow-130;
  colorYellow140: $color-yellow-140;
  colorYellow150: $color-yellow-150;
  colorYellow160: $color-yellow-160;
}
