.animatedArrow {
  .arrowShaft {
    stroke-dasharray: 25;
    stroke-dashoffset: 25;
    animation: draw 0.2s ease-in-out forwards;
  }

  .arrowHead {
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out 0.2s forwards;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.Tooltip {
  color: black;
  background: white;
  border-radius: 8px;
  padding: 10px;
}
