@import '../../styles/common';

.Donut {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: visible;
  user-select: none;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
  }
}

.DonutWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ContentWrapper {
  position: absolute;
  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 20px;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.ContentValue {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  user-select: text;
  margin: 0;
}

.ComparisonMetric {
  font-size: 16px;
}

.DonutChart {
  @include no-outline;
  overflow: visible;
}
