// stylelint-disable scss/partial-no-import
@import './shared/variables';
@import './shared/accessibility';
@import './shared/chart-container';

@mixin ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
