// stylelint-disable scss/partial-no-import
@import '../../../polaris-viz-core/src/styles/shared/variables';
@import './shared/accessibility';
@import './shared/chart-container';

@mixin ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin print-color {
  -webkit-print-color-adjust: exact; /* stylelint-disable-line property-no-vendor-prefix */
  print-color-adjust: exact; /* stylelint-disable-line property-no-unknown */
}
