.Text {
  // sewing-kit format converts the -webkit
  // properties into bad values
  // stylelint-disable
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  // stylelint-enable
  overflow: hidden;
  word-wrap: break-word;
}
