@import '../../../../styles/common';

.AnimatedPath {
  animation: reveal ease-in-out both;
}

@keyframes reveal {
  // clip-path margin is to prevent the top and bottom of the path from being cut off
  0% {
    clip-path: inset($clip-path-margin 100% $clip-path-margin 0);
  }
  99% {
    clip-path: inset($clip-path-margin 0% $clip-path-margin 0);
  }
  100% {
    clip-path: unset;
  }
}
